<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/" class="logo-container">
        <img
          class="logo"
          src="../../../assets/Images/logo2_transparent_cropped.png"
          alt=""
        />
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a routerLink="/" class="navbar-item">Home</a>
        <a routerLink="/profile" class="navbar-item">Profile</a>
        <a routerLink="/login" class="navbar-item">Login</a>
        <a routerLink="/registration" class="navbar-item">Registration</a>
      </div>
    </div>
  </nav>
</header>
